
body {
	font-family: "Roboto", serif;
    font-size: 100%;
    width: 50%;
    margin: 0 auto;
    border: 3px solid black;
    background-color: rgba(170,130,180,80%);
    background-size: cover;
}

ul, ol {
    font-style: italic;
    font-size: 1.5em;
}

a[href] {
    font-family: sans-serif;
}

html {
    font-family: "Roboto", serif;
    background-image: url(../Images/esosunspire.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
/* Separation of text to columns */
.left {
    max-width: 40%;
    float: left;
}

.right {
    max-width: 40%;
    float: right;
}
/* moves the link to ESO main website under the picture */
.mainlink {
    clear: both;
}
/* Nav Menu Styles*/
#nav_menu::after {
	
	display: block;
	clear: left;
	content: "";
}
/*This Is the Style for Nav Colors*/
#nav_menu {           
	position: relative;
    background-image: linear-gradient(to right, grey, #ac87cf);
    border: 4px solid black;
}
#nav_menu::after {
	
	display: block;
	clear: left;
	content: "";
}
#nav_menu {
	position: relative;
}
#nav_menu a {
    text-decoration: none;
}
#nav_menu ul {
    display: flex;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    background-image: linear-gradient(to top,grey, #ac87cf);
   
}
#nav_menu li 
{
    border: 2px solid black;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
main h2 {
    color: white;
}
#class1 {
    color: white;
    font-size: 150%;
}
/* Header Styles */
header img {
    max-width: 100%;
}
/*Main Styles */
main {
    padding: 0 1em 0 1em;
}
/*Footer Styles*/

footer {
    clear: both;
}
footer a {
    color: blue;
    
}
@media only screen and (max-width: 960px) {
    .right {
        max-width: 40%;
        float: none;
    }

}
/* Query to help phone viewers */
@media only screen and (max-width: 500px) {
    body {
        font-family: "Roboto", serif;
        font-size: 100%;
        width: 100%;
        margin: 0 auto;
        border: 3px solid black;
        background-color: rgba(170,130,180,84%);
        background-size: cover;
    }
}    

@media only screen and (max-width: 396px) {
    html {
        font-size: 70%;
    }
}